# Gradle files
.gradle/*
gradle/plugins/.gradle/
gradle/plugins/java-plugins/build/
build/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tgz
*.tar
*.7z

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
*.idv
*.idpk
*.idm
*.iws
*.iml
*.ipr
*.idv
*.idpk
*.idm
*.idea/workspace.xml
*.idea/dataStorage.xml
